body{
    background-image: linear-gradient(to bottom , hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
    width: 1440px;
    overflow: hidden;
    font-size: 11px; text-align: center;
    
}

.card {
    background-color: white;
    width: 923px;
    height: 512px;
   margin: 140px 170px 140px auto;
   
    border-radius: 20px;
    text-align: left;
    justify-self: center;
   
    box-shadow:  5px 10px  70px -2px hsl(233, 11%, 57%);

    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    
}

.card .img{
    width: 430px;
    height: 361px;
    margin-left: -90px;
    margin-top: 200px;
    position: absolute;
  
    grid-template-columns: 1fr 1fr ;
}

.card .img2{
    width: 430px;
    height: 361px;
    margin-left: -90px;
    margin-top: 70px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-size: cover;
}


.card p{
    text-align: justify;
    width: 400px;
    display: grid;
    font-weight: 300;
}

.text {
    text-align: center;
    width:350px;
 margin-left: 520px;
 margin-top: -300px;
    font-size: 11px;
    
} 

.title{
    margin-left: -420px;
    margin-top: 60px;
    font-size: 40px;
    font-weight: 700;
}
